{% extends "dataportal/base.html" %}
{% block content %}
<div id = "content-all">
		<div id = "welcome-image"></div>
		<p>Welcome to <b>{{ topic }} Data Discussion</b>, an online space for people to share links to public data on {{ topic }} and to discuss the advantages and disadvantages of different datasets.</p>
		<p>Under <a href = "view"><b>View Data</b></a>, you will find a comprehensive list of publicly accessible data sources on Syria.
		<p>Under <a href = "submit"><b>Submit Data</b></a>, you can submit information about data sources that haven't been included in the list.
		<p>Under <a href = "discuss"><b>Discuss Data</b></a>, you will find a forum and IRC channel where you can watch or join the discussion of the biases, strengths, and weaknesses of the data.
		<p>Under <a href = "blog"><b>Blog</b></a>, you can read short weekly summaries of discussions about {{ topic }} data and guest posts.
		<p>Under <a href = "about"><b>About</b></a>, you can read more about why this site was created.
		<p>If you have feedback or want to join the team, email us at <a href = "mailto:hello@"><b>hello@</b></a>.
	</div>
{% endblock %}
