<!DOCTYPE html>
<html>
	<head>
		<title>Data Discussion</title>
		<link type = "text/css" rel = "stylesheet" href = "style.css"/>
		<link rel = "icon" type = "image/ico" href="logo.ico"/>
		<!-- Prevents Mobile Device from Shrinking Text -->
		<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
		<!-- Adding Google Analytics-->
    </head>
	<body>
        <header>
            
        </header>
		<div id = "middle">
			<div id = "content-all">
				<p>Welcome to <b>{{ topic }} Data Discussion</b>, an online space for people to share links to public data on XXX and to discuss the advantages and disadvantages of different datasets.</p>
				<p>Under <a href = "view"><b>View Data</b></a>, you will find a comprehensive list of publicly accessible data sources on Syria.
				<p>Under <a href = "submit"><b>Submit Data</b></a>, you can submit information about data sources that haven't been included in the list.
				<p>Under <a href = "discuss"><b>Discuss Data</b></a>, you will find a forum and IRC channel where you can watch or join the discussion of the biases, strengths, and weaknesses of the data.
				<p>Under <a href = "blog"><b>Blog</b></a>, you can read short weekly summaries of discussions about XXX data and guest posts.
				<p>Under <a href = "about"><b>About</b></a>, you can read more about why this site was created.
				<p>If you have feedback or want to join the team, email us at <a href = "mailto:hello@XXXdatadiscussion.info"><b>hello@XXXdatadiscussion.info</b></a>.
			</div>
		</div>
		<footer>
			<div id = "disclaimer">Disclaimer: Data Discussion and its staff do not necessarily endorse any views expressed on this site or any other.  Data Discussion and its staff do not guarantee the personal safety or cyber security of those that visit this website or any other.</div>
		</footer>
	</body>
</html>
