{% extends "dataportal/base.html" %}

{% block content %}
</br>
<form method="post" action=".">{% csrf_token %}
  <input type="text" name="username" value="" required="" placeholder="username" maxlength="100">
  </br>
  <input type="password" name="password" value="" required="" placeholder="password1" maxlength="100">
  </br>
  <input type="password" name="password_again" value="" required="" placeholder="password2" maxlength="100">
  </br>
  <input type="email" name="email" value="" required="" placeholder="email" maxlength="100">
  </br>
  </br>
  <input type="submit" value="Register" />
</form>
{% endblock %}
